.search-results-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-results-container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffb300;
  text-align: center; /* Centrar el título */
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.results-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.sort-dropdown {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center; /* Centrar el desplegable */
}

.sort-dropdown label {
  font-size: 1rem;
  color: orange;
}

.sort-dropdown select {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 1.2rem; /* Aumenta el tamaño de las flechas */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: white;
}

.pagination button:hover {
  background-color: #bbbbbb;
}

.pagination button:disabled {
  background-color: #444444;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  color: white;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .search-results-container {
    padding: 10px;
  }

  .search-results-container h1 {
    font-size: 1.5rem;
  }

  .results-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos items por fila */
    gap: 15px;
  }

  .results-grid > div {
    max-width: 180px; /* Ajusta el tamaño de los items */
    margin: 0 auto;
  }

  .sort-dropdown {
    flex-direction: column; /* Cambia a diseño vertical */
    gap: 5px;
  }

  .pagination button {
    font-size: 1rem; /* Reduce el tamaño de las flechas */
    padding: 5px 8px;
  }

  .pagination span {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .search-results-container h1 {
    font-size: 1.2rem;
  }

  .results-grid {
    grid-template-columns: 1fr; /* Un item por fila */
    gap: 10px;
  }

  .results-grid > div {
    max-width: 300px; /* Ajusta el tamaño del item */
    margin: 0 auto;
  }

  .pagination button {
    font-size: 0.9rem; /* Reduce aún más el tamaño de las flechas */
    padding: 4px 6px;
  }

  .pagination span {
    font-size: 0.8rem;
  }
}